<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/seven-head.css" scoped>
    <link rel="stylesheet" href="../public/style/seven-content.css" scoped>
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div class="app_header">
        <div class="first_nav">
            <img src="../public/img/nav.gif" alt="">
        </div>
        <div class="clear"></div>
        <div class="second_nav">
           <a href="add2">
                <img class="img_left" src="../public/img/user.png" alt="">
           </a>
            <span>保险箱</span>
            <a href="/add1">
                    <img class="img_right" src="../public/img/add.png" alt="">
            </a>
        </div>
        <div class="clear"></div>
    </div>



    <div class="app_container">
        <div class="img_main">
            <span class="text1">牛批</span>
            <span class="text2">智能</span>
            <span class="text3">保险箱</span>
            <span class="text4">别说了 我爱了</span>
            <span class="text5">·</span>
            <span class="text6">··</span>
            <img class="guanggao" src="../public/img/guanggao.png" alt="">
        </div>
        <div class="main">
            <img class="safe" src="./images/safe.png" alt="">
            <p class="text7">N · B保险箱</p>
            <p class="text8">最后一次位置：幻想乡</p>
            <a href="/jump">
                    <button>监听此保险箱</button>
            </a>
        </div>
    </div>
</body>

</html>