<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/six-head.css" scoped>
    <link rel="stylesheet" href="../public/style/six-content.css" scoped>
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div class="app_header">
        <div class="frist_nav">
            <img src="../public/img/nav.gif" alt="">
        </div>
        <div class="clear"></div>
        <div class="second_nav">
                <a href="/return2">
                    <img class="return" src="../public/img/Return.png" alt="">
               </a>
            <span>添加保险箱</span>
        </div>
        <div class="clear"></div>
    </div>


    <div class="app_container">
        <p class="container_title">保险箱信息</p>
        <p class="container_txt1">保险箱品牌：三星</p>
        <p class="container_txt2">保险箱序列号：12335566hdhhjasdj</p>
        <p class="container_txt3">保险箱IP：192.168.1.1</p>
        <div class="box">
            <input class="textbox" placeholder="请输入保险箱名称" type="text" maxlength="16">
        </div>
        <div class="getclick">
            <a href="/add-safe">
                    <button class="click">添加保险箱</button>
            </a>
        </div>
    </div>
</body>

</html>