<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/Loginheader.css" scoped>
    <link rel="stylesheet" href="../public/style/Loginbanner.css" scoped>
    <link rel="stylesheet" href="../public/style/Logincontainer.css" scoped>
    <link rel="stylesheet" href="../public/style/Loginfooter.css" scoped>
    <link rel="stylesheet" href="../public/style/app.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <img class="left" src="../public/img/Login page-StatusBar.png" alt="">
        </div>



        <div class="banner">
            <img class="right" src="../public/img/Login page-logo.png" alt="">
        </div>


<form action="/landing" method="POST">
        <div class="container">
            <div class='mat'>
                <div class="hub">
                    <span class="you">用户名</span>
                </div>
                <div class="contest">
                    <input class='tall' type="text" placeholder="请输入用户名" name="username">
                </div>
            </div>

            <div class='mab'>
                <div class="hut">
                    <span class="you">密码</span>
                </div>
                <div class="contest">
                    <input class='tall' type="password" placeholder="请输入密码" name="password">
                </div>
            </div>
        </div>


        
        <div class='footer'>
            <div class='cente'>
                <a href="/landing">
                    <input type="submit" value="登陆" class="bat">
                </a>
            </div>
            <div class='incla'>
                <a href="/registered-users">
                        <span class='bla'>注册用户</span>
                </a>
            </div>
            <div class='bofor'>
                <a href="/forgot-password">
                        <span class='bla'>忘记密码</span>
                </a>
            </div>
        </div>
    </form>
    </div>
</body>

</html>