<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/moban.css">
</head>
<body>
     <div id="footer">
         <ul>
             <li class="li-1">
                 <img class="img1" src="{{dj1}}" alt="">
                 <a class="a1" href="/z4">保险箱</a>
             </li>
             <li class="li-2">
                 <img class="img2" src="{{dj2}}" alt="">
                 <a class="a2" href="/z5">开门记录</a>
             </li>
             <li class="li-3">
                 <img class="img3" src="{{dj3}}" alt="">
                 <a class="a3" href="/z2">报警记录</a>
             </li>
             <li class="li-4">
                 <img class="img4" src="{{dj4 }}" alt="">
                 <a class="a4" href="/z3">关联用户</a>
             </li>
         </ul>
        <!-- <img class="img1" src="/public/img/fase1.png" alt=""> -->
        <!-- <img class="img2" src="/public/img/Opendoor1.png" alt=""> -->
        <!-- <img class="img3" src="/public/img/Callthepolice2.png" alt=""> -->
        <!-- <img class="img4" src="/public/img/Relation1.png" alt=""> -->
        <!-- <a class="a1" href="/z4">保险箱</a> -->
        <!-- <a class="a2" href="/z5">开门记录</a> -->
        <!-- <a class="a3" href="/2">报警记录</a> -->
        <!-- <a class="a4" href="/z3">关联用户</a> -->
    </div>
    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    <script>
      
    </script>
</body>
</html>