{% extends "moban.html" %}

{% block content %}
<link rel="stylesheet" href="public/css/z4.css">
<div id="header">
    <img class="img1" src="../public/img/状态栏.jpg" alt="">
    <img class="img2" src="../public/img/Return.png" alt="">
    <span>开门记录</span>
</div>
<div id="coniater">
        <div class="open1">
            <div class="bj1">
                <img class="img1" src="../public/img/lock.png" alt="">
            </div>
            <p class="Text1">开门</p>
            <p class="Text2">2分钟前</p>
            <p class="Text3">幻想乡</p>
        </div>
        <div class="open2">
            <div class="bj2">
                <img class="img2" src="../public/img/lock.png" alt="">
            </div>
            <p class="Text1">开门</p>
            <p class="Text2">1天前</p>
            <p class="Text3">幻想乡</p>
        </div>
        <div class="open3">
            <div class="bj3">
                <img class="img3" src="../public/img/lock.png" alt="">
            </div>
            <p class="Text1">开门</p>
            <p class="Text2">1天前</p>
            <p class="Text3">幻想乡</p>
        </div>
        <div class="open4">
            <div class="bj4">
                <img class="img4" src="../public/img/lock.png" alt="">
            </div>
            <p class="Text1">开门</p>
            <p class="Text2">18天前</p>
            <p class="Text3">幻想乡</p>
        </div>
    </div>
    {% endblock %}

        {% block js %}
        <script src="/public/js/fontsizeset.js"></script>
        <script>
            
        </script>
    {% endblock %}