<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5;URL=/landing">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/z5.css">
    <title>Document</title>
</head>
<body>
<div class="nev" >
        <div class="header" >
            <img class="img_one" src="../public/img/状态栏.png">  
        </div>
        <img class="img_two" src="../public/img/tuq.png">  
    </div>
    <div class="container" >
            <div class="container_left" >
                <h1 class="container_left_size" >智能保险箱</h1>
            </div>
            <div class="container_night">
                <p class="container_night_size" >有安全感，才能稳稳幸福</p>
            </div>
        </div>
        <script src="../public/js/fontsizeset.js"></script>
</body>
</html>