<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/five-head.css" scoped>
    <link rel="stylesheet" href="../public/style/five-content.css" scoped>
    <script src="../public/js/fontsizeset.js"></script>
</head>

<body>
    <div id="app_header">
        <div class="nav_01">
            <img src="../public/img/nav.gif" alt="">
        </div>
        <div class="nav_02">
            <span class="enroll">添加保险箱</span>
        </div>
        <div class="clear"></div>
    </div>


    <div id="app_container">
        <img class="ico" src="../public/img/ico.png">
        <p class="text1">添加保险箱</p>
        <p class="text2">扫一扫保险箱二维码即可自动添加保险箱</p>
        <a href="/add">
                <p class="text3">扫描二维码添加</p>
        </a>
    </div>
</body>

</html>