{% extends "moban.html" %}

{% block content %}
<link rel="stylesheet" href="../public/style/z2.css">
<body>
    <div id="header">
        <img class="img1" src="../public/img/状态栏.jpg" alt="">
       <a href="return5">
            <img class="img2" src="../public/img/Return.png" alt="">
       </a>
        <img class="img3" src="../public/img/add.png" alt="">
        <p>关联用户</p>
    </div>
    <div id="coniatner">
        <ul>
            <li  class="li-1">
                <p>保险箱按此顺序拨号,拖动可排序</p>
                <img @click="del(item)" src="../public/img/Forknumber.png" alt="">
            </li>
            <li class="li-2">
                <div class="bj">
                    <img  src="../public/img/user.png" alt="">
                </div>
                <p>13149869439</p>
            </li>
            <li class="li-3">
                <div class="bj">
                    <img  src="../public/img/user.png" alt="">
                </div>
                <p>13333333333</p>
            </li>
            <li class="li-4">
                <span>49869439</span>
                <div class="del">
                    <p>删除</p>
                </div>
            </li>
        </ul>
    </div>
    {% endblock %}

    {% block js %}
    <script src="../public/js/fontsizeset.js"></script>
    <script>
        
    </script>
{% endblock %}