.banner{
    width:7.5rem;
    height: 3.9rem;
    background-color:rgb(245, 245, 247);
}
.right{
    width: 1.82rem;
    height: 1.82rem;
    margin-left:2.85rem;
    margin-top: 0.9rem;
}
*{
margin:0;
padding:0;
}